<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <title>Join Meeting</title>
</head>

<body>

    <div class="w3-container">

        <div class="w3-container w3-blue">
            <h2>Specify a user name</h2>
        </div>

        <form class="w3-container" method="GET" action="/videochat">
            <br>
            <p>
                <label class="w3-text-grey">Name</label>
                <input class="w3-input w3-border" type="text" name="username" required="" maxlength="15"
                    style="width:300px">
            </p>
            <p><button type="submit" class="w3-button w3-padding w3-blue" style="width:120px">Join Meeting</button></p>
        </form>


    </div>


</body>


</html>